<!DOCTYPE html>
<html lang="en">
<head>
    <title>Express Project</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
   
   <h2>{{>header}} </h2>

    <h2>{{title}}</h2>    
    <h2>{{name}}</h2>
    <h2>{{city}}</h2>
    <h2>{{age}}</h2>
    <div class="dd">
            <img src={{img1}} alt="">
    </div>
    
</body>
</html>